<ion-header>
	<ion-navbar>
		<ion-title>¡Registra tu Compañía!</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Nombre de la Compañía</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input type="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Nombre de Usuario</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Contraseña</ion-label>
			<ion-input type="password"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label floating>Descripción</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		<ion-item> 
			<ion-label floating>RFC</ion-label>
			<ion-input type="text" ></ion-input> 
		</ion-item>
		<ion-label fixed>Checar domicilio Domicilio</ion-label>
		<ion-row class="center" >
			<ion-col width-40>
				<ion-input type="text" placeholder="Calle"></ion-input>	
			</ion-col>
			<ion-col width-20>
				<ion-input type="number" placeholder="#"></ion-input>
			</ion-col>
			<ion-col width-40>
				<ion-input type="text" placeholder="Colonia"></ion-input>	
			</ion-col>
		</ion-row>
		<ion-row class="center">
			<ion-col widh-20>
				<ion-input type="text" placeholder="C.P."></ion-input>	
			</ion-col>
			<ion-col width-40>
				<ion-input type="text" placeholder="Ciudad"></ion-input>	
			</ion-col>
			<ion-col width-40>
				<ion-input type="text" placeholder="Estado"></ion-input>	
			</ion-col>
		</ion-row>
		<ion-item> 
			<ion-label floating>Teléfono</ion-label>
			<ion-input type="tel" ></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button>+
				 <ion-icon name="ios-camera"  item-right ></ion-icon>
			</button>
		</ion-item>
		<img src="https://api.adorable.io/avatars/285/meh@gmail.com"/>
		<button ion-button block >Registrarse</button>
	</ion-list>
</ion-content>