<ion-header>
	
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Detalle del Producto</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			{{productInfo.name}}
		</ion-card-header>
		<img src="http://lorempixel.com/285/285/food/" />
		<ion-card-content>
			<ion-list no-lines>
				<ion-item no-lines>
					<ion-label>Descripción</ion-label>
				</ion-item>
				<ion-item text-wrap>
					<ion-label>{{productInfo.description}}</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Costo: $ </ion-label>
					<ion-label>{{productInfo.price}}</ion-label>
				</ion-item>

			</ion-list>
		</ion-card-content>
	</ion-card>
	<ion-item *ngIf = "navParams.data.user">
		<button color="dark" ion-button block>
      		<ion-icon name="add" item-left></ion-icon>  Add
  		</button>
	</ion-item>
</ion-content>
<ion-fab bottom right *ngIf = "navParams.data.user">
	<button ion-fab color="secondary">
		<ion-icon name="md-cart"></ion-icon>
	</button>
</ion-fab>