<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="updateUser()">
    <ion-card>
			<img *ngIf="!imageData" [src]="picture"/>
			<img *ngIf="imageData" [src]="imageData"/>
			<ion-row *ngIf="!social">
				<ion-col width-50>
					<button ion-button (click)="getPicture(1)" style="width:100%;">
						<ion-icon name="camera"  item-right ></ion-icon>
					</button>		
				</ion-col>
				<ion-col width-50>
					<button	ion-button (click)="getPicture(0)" style="width:100%;">
						<ion-icon name="image"  item-right ></ion-icon>
					</button>		
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-label *ngIf="isSent && !imageData" color="danger" padding-left>Es necesario que tome una foto a su fachada.</ion-label>
		<ion-item>
			<ion-label floating >Nombre Completo</ion-label>
			<ion-input [(ngModel)]="userNew.name" type="text" formControlName="fullname"></ion-input>
		</ion-item>
		<ion-label *ngIf="fullname.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating >Correo</ion-label>
			<ion-input [(ngModel)]="userNew.email" type="email" formControlName="email"></ion-input>
		</ion-item>
		<ion-label *ngIf="email.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item *ngIf="!social">
			<ion-label floating >Contraseña</ion-label>
			<ion-input [(ngModel)]="password2" type="password" formControlName="password"></ion-input>
		</ion-item>
		<ion-label *ngIf="password.hasError('required') && isSent && !social" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<button ion-button block color="dark" *ngIf="!social">Guardar</button>
	</form>
</ion-content>
