<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Productos</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list no-lines>
		<ion-item-sliding *ngFor="let product of products">
			<ion-item (click)="openProductDetails(product._id)">
				<ion-icon name="ios-restaurant" item-left ></ion-icon>
				{{product.name}}
			</ion-item>
			<ion-item-options>
				<button ion-button icon-only color="primary" (click)="updateProduct(product)">
          <ion-icon name="refresh"></ion-icon>
        </button>
				<button ion-button icon-only color="danger" (click)="deleteProduct(product)">
          <ion-icon name="close"></ion-icon>
        </button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-fab right bottom padding> 
		<button ion-fab color="dark" (click)="newProduct()">
      <ion-icon name="add"></ion-icon>
    </button>
	</ion-fab>
</ion-content>