page-products-company { 
    ion-list {
        width: 98%;

        ion-item {
            border: none !important;
        }

        ion-item-sliding {
        margin-top: 5px;

            ion-item-options{
                float: right;
                width: 33%;
            
                button{
                    width: auto;
                }
            }
        }
    }

}
