<ion-header>
  <ion-navbar>
    <ion-title>Nuevo Producto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="send()">
		<ion-item>
			<ion-label floating>Nombre</ion-label>
			<ion-input [(ngModel)]="product.name" type="text" formControlName="name"></ion-input>
		</ion-item>
		<ion-label *ngIf="name.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating>Descripción</ion-label>
			<ion-input [(ngModel)]="product.description" type="text" formControlName="description"></ion-input>
		</ion-item>
		<ion-label *ngIf="description.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating>Precio</ion-label>
			<ion-input [(ngModel)]="product.price" type="number" formControlName="price"></ion-input>
		</ion-item>
		<ion-label *ngIf="price.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<button ion-button block color="dark">Guardar</button>
	</form>
</ion-content>
