<ion-header>
	<ion-navbar>
		<ion-title>¡Registrate!</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<form action="" [formGroup]="userForm" (ngSubmit)="insertUser()">
		<ion-list>
			<ion-item>
				<ion-label floating>Nombre Completo</ion-label>
				<ion-input type="text" [(ngModel)]="newUser.name" formControlName="name"></ion-input>
			</ion-item>
			<ion-label *ngIf="name.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
			<ion-item>
				<ion-label floating>Email</ion-label>
				<ion-input type="email" [(ngModel)]="newUser.email" formControlName="email"></ion-input>
			</ion-item>
			<ion-label *ngIf="email.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
			<ion-item>
				<ion-label floating>Nombre de Usuario</ion-label>
				<ion-input type="text" [(ngModel)]="dataUser.name" formControlName="user"></ion-input>
			</ion-item>
			<ion-label *ngIf="user.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
			<ion-item>
				<ion-label floating>Contraseña</ion-label>
				<ion-input type="password" [(ngModel)]="dataUser.password" formControlName="password"></ion-input>
			</ion-item>
			<ion-label *ngIf="password.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
			<ion-item>
				<button ion-button block type="button" (click)="getPicture(1)">+
				 <ion-icon name="ios-camera"  item-right ></ion-icon>
			</button>
			</ion-item>
			<img *ngIf="!imageData" src="https://api.adorable.io/avatars/285/abott@adorable.io.png"/>
			<img *ngIf="imageData" [src]="imageData"/>
			<button ion-button block type = "submit">Registrarse</button>
		</ion-list>
	</form>
</ion-content>