<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Categories</ion-title>
	</ion-navbar>
</ion-header>	
<ion-content padding>
	<ion-list no-lines >
		 <button ion-item *ngFor="let p of allCategories" (click)="openCompanies(p.key)">
			<ion-icon name="search" item-left ></ion-icon>
			{{p.title}}
			<ion-icon name="ios-arrow-forward" item-right ></ion-icon>
		 </button>
	</ion-list>
</ion-content>