<ion-item class="content" no-lines>
    <ion-label *ngIf="toggle">Clientes</ion-label>
    <ion-label *ngIf="!toggle">Empresas</ion-label>
    <ion-toggle [(ngModel)]="toggle"></ion-toggle>
</ion-item>
<page-login-client *ngIf="toggle">

</page-login-client>
<page-login-company *ngIf="!toggle">

</page-login-company>