<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title>Dirección</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<form [formGroup]="form" (ngSubmit)="send()">
		<ion-item>
			<ion-label floating>Colonia</ion-label>
			<ion-input [(ngModel)]="usuario.suburb" type="text" formControlName="colony"></ion-input>
		</ion-item>
		<ion-label *ngIf="colony.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating>Calle</ion-label>
			<ion-input [(ngModel)]="usuario.street" type="text" formControlName="street"></ion-input>
		</ion-item>
		<ion-label *ngIf="street.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating>Número</ion-label>
			<ion-input [(ngModel)]="usuario.number" type="number" formControlName="number"></ion-input>
		</ion-item>
		<ion-label *ngIf="number.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<ion-label floating>Código Postal</ion-label>
			<ion-input [(ngModel)]="usuario.zipCode" type="number" formControlName="zipCode"></ion-input>
		</ion-item>
		<ion-label *ngIf="zipCode.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
		<ion-item>
			<button	ion-button color="secondary" (click)="verifyAddress()">
				<ion-icon name="locate" item-right> Verficiar Dirección </ion-icon>
			</button>
		</ion-item>
		<ion-label *ngIf="verify && verified" color="secondary" padding-left>La dirección coincide con su ubicación.</ion-label>
		<ion-label *ngIf="verify && !verified" color="danger" padding-left>La dirección no coincide con su ubicación.</ion-label>
		<ion-label *ngIf="isSent && !verified" color="danger" padding-left>Es necesario que verifique la dirección.</ion-label>
		<ion-card>
			<img *ngIf="!imageData" src="http://lorempixel.com/285/285/city/"/>
			<img *ngIf="imageData" [src]="imageData"/>
			<button ion-button (click)="getPicture()">
					<ion-icon name="ios-camera" item-right> Agregar fachada </ion-icon>
			</button>
		</ion-card>
		<ion-label *ngIf="isSent && !imageData" color="danger" padding-left>Es necesario que tome una foto a su fachada.</ion-label>
		<button ion-button block color="dark">Guardar</button>
	</form>
</ion-content>