ion-content{  
    ion-card {
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        text-align: center;
    }

    #map {
        width: 100%;
        height:	200px;
    }

    button{
        width: 100%;
    }
}


.no-scroll	{
    margin: 0;
    .scroll-content	{
        overflow-y:	hidden;
    }
}