<form action="" [formGroup]="form" (ngSubmit)="openMenu()">
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="userName2" formControlName="userName"></ion-input>
    </ion-item>
    <ion-label *ngIf="userName.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password2" formControlName="password"></ion-input>
    </ion-item>
    <ion-label *ngIf="password.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
  </ion-list>
  <ion-item>
    <button color="secondary" ion-button block round type="submit">
			<ion-icon name="person" item-left ></ion-icon>Iniciar sesión
	</button>
  </ion-item>
  <ion-label style="text-align:center" *ngIf="loginFail" color="danger" padding-left>Usuario o contraseña incorrectos.</ion-label>
  <button ion-item no-lines (click)="openRegister()">
		<a>¿No tienes cuenta? Registrate!</a>
</button>
</form>