<ion-header>
	
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Companies of type {{category}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list no-lines>
		<button ion-item *ngFor="let p of allCompanies" (click)="openProducts(p.name)">
			<ion-icon name="ios-restaurant" item-left ></ion-icon>
			{{p.name}}
			<ion-icon name="ios-arrow-forward" item-right ></ion-icon>
		 </button>
	</ion-list>
</ion-content>