<form [formGroup]="form" (ngSubmit)="openMenu(0)">
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="userName2" formControlName="userName"></ion-input>
    </ion-item>
    <ion-label *ngIf="userName.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password2" formControlName="password"></ion-input>
    </ion-item>
    <ion-label *ngIf="password.hasError('required') && isSent" color="danger" padding-left>Este campo es obligatorio.</ion-label>
  </ion-list>
  <ion-item no-lines>
    <button color="secondary" ion-button block round type="submit">
			<ion-icon name="person" item-left ></ion-icon>Iniciar sesión
	</button>
  </ion-item>
</form>
<ion-item no-lines>
  <button color="primary" ion-button block (click)="doFacebookLogin()">
      <ion-icon name="logo-facebook" item-left></ion-icon>Facebook
  </button>
</ion-item>
<ion-item no-lines>
  <button color="danger" ion-button block (click)="doGoogleLogin()">
      <ion-icon name="logo-googleplus" item-left></ion-icon>Google
  </button>
</ion-item>
<ion-label style="text-align:center" *ngIf="unregistered" color="danger" padding-left>Usuario no registrado.</ion-label>
<ion-label style="text-align:center" *ngIf="loginFail" color="danger" padding-left>Usuario o contraseña incorrectos.</ion-label>
<button block ion-item no-lines (click)="openRegister()">
		<a>¿No tienes cuenta? Registrate!</a>
</button>