<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Products of {{company}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list no-lines>
		<button ion-item *ngFor="let p of allProducts" (click)="openProductDetails(p._id)">
			<ion-icon name="happy" item-left ></ion-icon>
			{{p.name}}
			<ion-icon name="ios-arrow-forward" item-right ></ion-icon>
		 </button>
	</ion-list>
</ion-content>