<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="heart" color="danger"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
      <button ion-item (click)="logout()">
        <ion-icon name="key" color="danger"></ion-icon>
        Cerrar sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>